<!-- =====================================================
     FOOTER
===================================================== -->

<footer class="site-footer">


    <div class="container footer-grid">


        <!-- LAB / UNIVERSITY -->

        <div>

            <h3>
                Forage Agronomy Lab
            </h3>


            <p>

                Department of Plant Sciences<br>
                University of Wyoming<br>
                Laramie, Wyoming 82071

            </p>

        </div>


        <!-- EXPLORE -->

        <div>

            <h4>
                Explore
            </h4>


            <a href="research.html">
                Research
            </a>


            <a href="people.html">
                People
            </a>


            <a href="producer-resources.html">
                Producer Resources
            </a>


            <a href="links.html">
                Useful Links
            </a>

        </div>


        <!-- CONTACT -->

        <div>

            <h4>

                <a href="mailto:Surendra.Bhattarai@uwyo.edu">
                    Contact
                </a>

            </h4>

        </div>


    </div>


    <!-- FOOTER BOTTOM -->

    <div class="footer-bottom">


        <div class="container">

            <p>

                © <span id="year"></span>
                Forage Agronomy Lab
                ·
                University of Wyoming

            </p>

        </div>


    </div>

</footer>
