<!-- =====================================================
     TOP UNIVERSITY BAR
===================================================== -->

<div class="uw-topbar">

    <div class="container topbar-inner">

    </div>

</div>


<!-- =====================================================
     HEADER
===================================================== -->

<header class="site-header">

    <div class="container header-inner">


        <!-- LAB NAME -->

        <div class="brand">

            <a href="index.html">

                <span class="brand-title">
                    Forage Agronomy Lab
                </span>

                <span class="brand-subtitle">
                    University of Wyoming
                </span>

            </a>

        </div>


        <!-- MOBILE MENU BUTTON -->

        <button
            class="menu-toggle"
            id="menuToggle"
            aria-label="Open navigation menu"
            aria-expanded="false">

            ☰

        </button>


        <!-- NAVIGATION -->

        <nav
            class="main-nav"
            id="mainNav">


            <a href="index.html">
                Home
            </a>


            <a href="people.html">
                People
            </a>


            <a href="research.html">
                Research
            </a>


            <!-- EXTENSION DROPDOWN -->

            <div class="nav-dropdown">

                <button
                    class="dropdown-button"
                    id="extensionButton"
                    type="button">

                    Extension

                    <span>
                        ▾
                    </span>

                </button>


                <div
                    class="dropdown-menu"
                    id="extensionMenu">


                    <a href="extension-articles.html">
                        Extension Articles
                    </a>


                    <a href="producer-resources.html">
                        Producer Resources
                    </a>


                </div>

            </div>


            <a href="links.html">
                Links
            </a>


        </nav>

    </div>

</header>
